.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.buttonsFirst{
  background-color: #2980b9;
  border: none;
  display: block;
}
.buttonsSecond{
  color: white;
  display: block;
}
.buttonsFirst:hover{
  background-color: white;
}
.buttonsSecond:hover{
  color: white;
}